#report-bug {
  position: fixed;
  bottom: 20px;
  left: 20px;

  width: 40px;
  height: 40px;

  z-index: 9999;

  border-radius: 50%;
  color: white;
  background: red;

  font-weight: 600;
  font-size: 16px;
  line-height: 40px;

  cursor: pointer;
}

#bug-modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 10000;
  background: rgba(0,0,0, 0.6);
}

.bug-container-modal-layer {
  position: fixed;
  width: 90vw;
  max-height: 90vh;
  top: 100px;
  left: 50%;
  z-index: 1000;
}

.bug-container-modal-layer.hide {
  display: none;
}


.bug-container-modal {
  position: relative;
  width: 90vw;
  max-height: 90vh;

  transform: translate(-50%);
  background: white;
  padding: 20px;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
  z-index: 10001;
  overflow: scroll;
}

.bug-container-modal img {
  max-width: 100%;
}

#bug-report-form .send-button {
  border-radius:5px;
  padding: 10px 5px;
  width: 100px;
  height: 40px;
  color: white;
  background: red;
  cursor: pointer;
  margin: 0 auto;
}

#bug-report-form .bug-item-container {
  text-align: left;
  width: 60%;
  margin: 20px auto;
}
#bug-report-form .bug-item-container label {
  margin: 15px 0 0 0;
}

#bug-report-form .bug-description-field {
  border: 1px solid black;
  resize: none;
  width: 60%;
}
