<div id="report-bug">BUG</div>
<div class="bug-container-modal-layer hide">
  <div id="bug-modal-overlay"></div>
  <div class="bug-container-modal">
    <form id="bug-report-form">
      <h3>Describe the bug/issue</h3>
      <div class="bug">
        <img id="bug-report_screenshot">
      </div>
      <div class="user-agent-data bug-item-container">
        <div class="widnow-sizes">
          <label>
            <strong>Window height:</strong>
          </label>
          <div id="bug-report__window-height"></div>
          <label>

            <strong>Window width:</strong>
          </label>
          <div id="bug-report__window-width"></div>
        </div>
        <label>
          <strong>Browser info:</strong>
        </label>
        <div id="bug-report__user-agent-info"></div>
      </div>
      <div class="status-select bug-item-container">
        <label>Bug status:</label>
        <select id="bug_status" name="bug_priority" >
          {% for priority in statuses_terms %}
            <option value="{{ priority.id }}"> {{ priority.name }} </option>
          {% endfor %}
        </select>
      </div>
      <div class="priority-select bug-item-container">
        <label>Bug prioriy:</label>
        <select id="bug_priority" name="bug_priority">
          {% for priority in priorities_terms %}
            <option value="{{ priority.id }}"> {{ priority.name }} </option>
          {% endfor %}
        </select>
      </div>
      <div class="bug-item-container">
        <textarea class="bug-description-field" placeholder="Description" rows="5"></textarea>
      </div>
      <div class="send-button">Create report</div>
    </form>
  </div>
</div>
